<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div style="text-align:center;margin-top: 10%;color:white">
  <h1>
    WELCOME TO CMOS
  </h1>

</div>
<div class="loginmodal-container" style="margin-top: 1%">
  <h1>Login to Your Account</h1><br>
  <form>
    <input type="text" name="user" placeholder="Username">
    <input type="password" name="pass" placeholder="Password">
    <a href="javascript:void(0)" (click)="login()"><input type="submit" name="login" class="login loginmodal-submit" value="Login"></a>
  </form>

  <div class="login-help">
    <a href="#">Register</a> - <a href="#">Forgot Password</a>
  </div>
</div>
